{% extends "/public/base.html" %}

{% block title %}Password change successful{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>

            <div class="col-6">
                <h1 class="display-4">Password change successful</h1>

                <p>Your password was successfully changed. Please login again with new password: <a href="/">Login</a></p>
            </div>

            <div class="col">
            </div>

        </div>
    </div>
</div>
{% endblock content %}
