{% extends "/public/base.html" %}

{% block title %}Error{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>

            <div class="col-6">
                <h1 class="display-4">Oops, error!</h1>

                <p>Error encountered. Reason: {{ error_message }}</p>
            </div>

            <div class="col">
            </div>

        </div>
    </div>
</div>
{% endblock content %}
